;fichier INI

[filenameLogger]
;file name in wich to record the datas, as "filename#" where # is incremented
filename=Logger_encoder_2p_v3_

;root folder path where to save the recording file, use "./" to record in the same folder as the python script
folderPATH=./20201026_test_1p/

;first line in the logger file, represent each column name
firstLine=TimeRecording, PositionChange, TimeChange, IndexTriggered


[encoder]
;choose from 8ms to 1000ms
dataInterval=100 

;BOOL to choose to print or not the encoder measured values
printLog=True 

;encoder resolution in mm per pulse
resolution=0.02


[Logger]
;BOOL to choose to print or not print the encoder measured values
printLog=True 

[MQTT]
;MQTT broker address, 'localhost' when in local
broker_address=localhost

;login and password of the MQTT server
usr=admin
pswd=movitplus

;topic in MQTT to publish on
topic=encoder/log 
